.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 720px;

  a {
    padding-top: 1.25rem;
    padding-left: 1.25rem;
  }
  :hover {
    cursor: pointer;
  }

}
